@import "tailwindcss";

.active{
    color: white !important; 
}

header h1{
    font-family: Space Grotesk, serif;
}

header span, .skill{
    color: #194BFD;
    font-family: Space Grotesk, serif;
}

#a{
    background: linear-gradient(90deg, rgba(25,75,253,1) 0%, rgba(173,19,251,1) 100%)
}

#a:hover{
    background: linear-gradient(-90deg, rgba(25,75,253,1) 0%, rgba(173,19,251,1) 100%)
}
